@font-face {
  font-family: "a";
  /*中文字体*/
  src: url();
  font-display: swap;
}

@font-face {
  font-family: "b";

  src: url(../fonts/Ubuntu-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "title";
  /*英文字体*/
  src: url(../fonts/Pacifico-Regular.ttf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: background-color 0.2s ease;
}

html {
  overflow-x: hidden;
  width: 100%;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-text-color, #000000);
  border-radius: 8px;
  height: 20%;
}

::-webkit-scrollbar-track {
  background-color: var(--main-bg-color,
      linear-gradient(50deg, #a2d0ff, #ffffff));
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: "b", "a", sans-serif;
  background: var(--main-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: color 0.1s ease;
  color: var(--main-text-color);
  overflow-x: hidden;
}

#mh-loading {
  background: #fff;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  margin-top: 0px;
  top: 0px;
  pointer-events: none;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mh-loading-center {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top-color: #472eff;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* mh-nav css */
.mh-nav {
  position: fixed;
  top: 20px;
  /* 距离顶部留出间隙，产生悬浮感 */
  left: 50%;
  transform: translateX(-50%);
  /* 居中 */
  width: 90%;
  /* 宽度 */
  max-width: 1200px;
  height: 60px;
  z-index: 1000;

  /* 关键：毛玻璃效果 */
  background: rgba(255, 255, 255, 0.2);
  /* 半透明白色背景 */
  backdrop-filter: blur(10px);
  /* 背景模糊 */
  -webkit-backdrop-filter: blur(10px);

  /* 关键：边框与圆角 */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  /* 大圆角 */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  /* 柔和阴影 */
}

.mh-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

/* mh-nav text */
.gradient-text {
  background-image: var(--gradient);
  background-size: 200% auto;
  background-position: 0% center;
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  color: var(--main-text-color);

  font-family: "title", sans-serif;
  will-change: background-position;
  animation: mh-kf-fluid-gradient 10s ease-in-out infinite;
}

@keyframes mh-kf-fluid-gradient {
  0%   { background-position: 100% 50%; }
  50%  { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* mh-nav font size */
.mh-nav__container .gradient-text {
  font-size: 20px;
}

.mh-nav__links {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
}

.mh-nav__links a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.mh-nav__links a:hover {
  color: var(--purple-text-color);
  /* 悬停变色 */
  text-shadow: 0 0 10px rgba(116, 123, 255, 0.5);
}

/* mh-nav theme button */
.mh-nav__theme-toggle {
  padding: 6px;
  border-radius: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 15px;
  color: var(--main-text-color);
  border: 1px solid transparent;
  text-decoration: none;
}

.mh-nav__theme-toggle:hover {
  color: var(--purple-text-color);
  transform: scale(1.5);
  text-shadow: 0 0 10px rgba(116, 123, 255, 0.5);
}

.mh-nav__theme-toggle::after {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%) translateY(4px);
  background: transparent;
  color: var(--main-text-color);
  border-radius: 6px;
  white-space: nowrap;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .15s, transform .15s;
  z-index: 1000;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 5px solid transparent;
}

.mh-nav__theme-toggle:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.mh-nav__burger {
  display: none;
  cursor: pointer;
}

.mh-nav__burger div {
  width: 25px;
  height: 3px;
  background-color: var(--main-text-color);
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mh-bg-filter {
  position: fixed;
  width: 100%;
  height: 100%;
  will-change: backdrop-filter;
  pointer-events: none;
  background: var(--back-filter-color);
  backdrop-filter: blur(var(--back-filter));
  -webkit-backdrop-filter: blur(var(--back-filter));
  z-index: -1;
  transition: all 0.3s ease;
}

.mh-layout {
  width: 100%;
  margin: 0 auto;
  transition: transform 0.5s ease;
  max-width: 1150px;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}

.mh-sidebar {
  overflow-y: scroll;
  width: 230px;
  height: 100vh;
  display: flex;
  padding: 0 15px;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: column;
}

.mh-sidebar::-webkit-scrollbar {
  display: none;
}

.mh-sidebar__avatar {
  flex-shrink: 0;
  width: 90%;
  position: relative;
  aspect-ratio: 1/1;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.mh-sidebar__section {
  flex-shrink: 0;
  width: 100%;
  border-radius: 13px;
  margin-top: 15px;
  padding: 20px;
  backdrop-filter: blur(var(--card-filter));
  -webkit-backdrop-filter: blur(var(--card-filter));
  background: var(--item-bg-color);
}

.mh-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mh-bio__item {
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 5px;
  overflow: hidden;
}

.mh-bio__item i,
.mh-bio__item svg {
  width: 16px;
  height: 16px;
  fill: var(--fill);
  font-size: 18px;
  margin-right: 10px;
}

.mh-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 14px;
}

.mh-tags__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  margin: 0px 5px 5px 0;
  padding: 10px;
  font-size: 13px;
  border-radius: 10px;
  background: var(--left-tag-item);
}

.mh-timeline__list {
  width: 100%;
  height: 200px;
  font-size: 13px;
  padding-left: 8px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  list-style: none;
  scrollbar-width: none;
}

.mh-timeline__list::-webkit-scrollbar {
  display: none;
}

.mh-timeline__item {
  position: relative;
  padding: 0 0 20px 20px; /* 顺时针：上 右 下 左 */
  /* 线条：实线 */
  border-left: 4px solid rgba(255, 255, 255, 0.15); 
  scroll-snap-align: start; /* 改为 start 通常滚动体验更好 */
  color: var(--main-text-color);
}

/* 处理“更多”项：点隐藏，线变透明或虚线 */
.mh-timeline__item--more {
  border-left-style: dashed; /* 或者改为 transparent 完全切断 */
  border-left-color: rgba(213, 213, 213, 0.1);
}

.mh-timeline__item--more .mh-timeline__dot {
  display: none;
}

.mh-timeline__list li:first-child .mh-timeline__dot:first-child {
  background-color: #aaffcd;
  animation: mh-timeline__dot 1.8s ease infinite;
}

.mh-timeline__dot {
  width: 8px;
  height: 8px;
  border-radius: 22px;
  background-color: rgb(255 255 255);
  border: 2px solid #fff;
  position: absolute;
  left: -6px;
  top: 6px;
}

.mh-timeline .mh-timeline__list .mh-timeline__item:first-child .mh-timeline__dot {
  background-color: #09f069 !important;
  border-color: #09f069 !important;
  animation: mh-timeline-pulse 1.8s ease infinite;
}

@keyframes mh-timeline-pulse {
  0% { box-shadow: 0 0 0 0px rgba(9, 240, 105, 0.7); }
  70% { box-shadow: 0 0 0 8px rgba(9, 240, 105, 0); }
  100% { box-shadow: 0 0 0 0px rgba(9, 240, 105, 0); }
}

.mh-timeline__info {
  font-size: 12px;
  line-height: 1.4;
  color: var(--main-text-color);
  margin-bottom: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.mh-timeline__item:hover .mh-timeline__info {
  white-space: normal;
  overflow: visible;
}

.mh-timeline__date {
  font-size: 11px;
}

.mh-timeline__item:hover .mh-timeline__date {
  transform: scale(1.05);
  opacity: 0.9;
}

.mh-timeline__item:hover .mh-timeline__dot {
  background-color: #aaffcd;
  border-color: #aaffcd;
  box-shadow: 0 0 10px rgba(170, 255, 205, 0.4);
}

/* mh-content */
.mh-content {
  width: calc(100% - 230px);
  padding: 20px;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.avatar-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.avatar-mobile img {
  display: block;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5px solid #ffffff;
  height: 120px;
}

/* mh-content  hero-intro*/
.hero-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.hero-greeting {
  font-size: 56px;
  font-weight: 800;
  align-items: center;
  margin: 16px 0;
  text-align: center;
}

.hero-motto {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-align: center;
  color: var(--main-text-color);
}

#hero-motto::after {
    content: '|';
    animation: blink 1s infinite;
    margin-left: 4px;
    color: var(--purple-text-color);
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.hero-actions {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  margin-top: 12px;
}

.hero-actions::-webkit-scrollbar {
  display: none;
}

.hero-actions-item {
  width: 49px;
  height: 43px;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  margin-left: 10px;

  backdrop-filter: blur(var(--card-filter));
  -webkit-backdrop-filter: blur(var(--card-filter));
  background: var(--item-bg-color);
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  flex-shrink: 0;
}

.hero-actions-item:hover {
  width: 95px;
  transform: translateY(-2px);
  background: var(--item-hover-color);
}

.hero-actions-item svg {
  width: 22px;
  height: 22px;
  fill: var(--fill);
  font-size: 22px;
  margin-right: 3px;
}

.hero-actions-item-tip {
  white-space: nowrap;
  display: none;
  color: var(--main-text-color);
}

.hero-actions-item:hover .hero-actions-item-tip {
  display: block;
}

.snake {
  width: 85%;
  max-width: 800px;
  margin: 12px auto;
}

.snake img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mh-shelf-title {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 800;
  margin: 20px 0;
  transition: transform 0.4s ease;
}

.mh-shelf-title svg {
  margin-right: 8px;
  height: 26px;
  width: 26px;
  fill: var(--fill);
}

.mh-shelf-title:hover {
  transform: translateY(-5px);
}

.mh-site-grid,
.mh-prj-grid {
  display: flex;
  flex-wrap: wrap;
}

.mh-site-card,
.mh-prj-card {
  /* 布局逻辑 */
  display: flex;
  margin: 7px;
  width: calc(25% - 14px);
  /* 4列布局，减去 margin 的空间 */
  padding: 15px;
  height: 100px;

  /* 视觉样式 */
  background-color: var(--item-bg-color);
  border-radius: 8px;

  /* 毛玻璃效果：只需写两行，一行标准，一行兼容 Webkit */
  backdrop-filter: blur(var(--card-filter));
  -webkit-backdrop-filter: blur(var(--card-filter));

  transition:
    opacity 0.5s ease,
    background-color 0.3s ease,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.mh-site-card:hover,
.mh-prj-card:hover {
  box-shadow: 0 8px 16px -4px #2c2d300c;
  transform: translateY(-2px);
}

.mh-site-card:hover .mh-site-card__body,
.mh-prj-card:hover .mh-prj-card__body {
  width: 100%;
}

.mh-site-card:hover .mh-site-card__icon,
.mh-prj-card:hover .mh-prj-card__icon {
  width: 0%;
}

.mh-site-card:hover .mh-site-card__body h3,
.mh-prj-card:hover .mh-prj-card__body h3 {
  font-size: 20px;
}

.mh-site-card:hover .mh-site-card__icon img,
.mh-prj-card:hover .mh-prj-card__icon img {
  transform: rotate(50deg);
}

.mh-site-card.pressed,
.mh-prj-card.pressed {
  transform: scale(0.9);
  background-color: var(--item-hover-color);
}

.mh-site-card__body,
.mh-prj-card__body {
  transition: width 0.4s ease;
  height: 100%;
  width: 80%;
}

.mh-site-card__body h3,
.mh-prj-card__body h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  transition: font-size 0.4s ease;
  color: var(--item-title-color);
}

.mh-site-card__body p,
.mh-prj-card__body p {
  font-size: 12px;
  margin-top: 15px;
  color: var(--item-text-color);
}

.mh-site-card__icon,
.mh-prj-card__icon {
  overflow: hidden;
  transition: width 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.mh-site-card__icon img,
.mh-prj-card__icon img {
  height: 39px;
  width: 39px;
}

.skill {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill img {
  width: 85%;
  max-width: 960px;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.skill #skill-mobile {
  display: none;
}

footer {
  position: absolute;
  padding: 10px;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(var(--card-filter));
  -webkit-backdrop-filter: blur(var(--card-filter));
  background: var(--item-bg-color);
  color: var(--footer-text-color);
  font-size: 13px;
  bottom: 0;
}

/* PC */
@media (min-width: 800px) {
  .avatar-mobile {
    display: none;
  }
}

/* mobile */
@media (max-width: 800px) {
  body {
    background-attachment: scroll;
  }

  body.nav-open {
    overflow: hidden;
  }

  .mh-nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    position: relative;
    z-index: 2005;
  }

  /* 2. 修改菜单样式 */
  .mh-nav__links {
    position: absolute;
    /* 从 fixed 改为 absolute，相对于 mh-nav__container */
    top: 100%;
    /* 紧贴导航栏底部 */
    right: 20px;
    /* 与右侧保持和 mh-nav__burger 相同的边距 */

    width: auto;
    /* 宽度由内容决定 */
    min-width: 120px;
    /* 设置最小宽度，防止太窄点不到 */
    white-space: nowrap;
    /* 强制文字不换行，确保宽度被内容撑开 */

    height: auto;
    background: var(--item-bg-color);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 4px;

    /* 动画：下拉 + 缩放效果 */
    transform-origin: top right;
    /* 从右上角展开 */
    transform: translateY(-10px) scale(0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2001;
  }

  .mh-nav__links li {
    opacity: 0;
  }

  .mh-nav__links a {
    display: block;
    width: 100%;
    padding: 12px 10px;
    font-size: 18px;
    color: var(--main-text-color);
    border-radius: 8px;
    position: relative;
    z-index: 2003;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
  }

  .nav-active li {
    opacity: 1;
    animation: navLinkFade 0.3s ease forwards;
  }

  .nav-active {
    transform: translateX(0%) !important;
  }

  .mh-nav__burger {
    display: block;
    position: relative;
    z-index: 2002;
  }

  /* 3. 激活状态 */
  .nav-active {
    opacity: 1;
    transform: translateY(10px) scale(1) !important;
    /* 向下偏移一点，形成悬浮感 */
    pointer-events: auto;
  }

  .mh-nav__theme-toggle {
    background: var(--item-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 6px 8px;
    border-radius: 12px;
  }

  .mh-nav__theme-toggle {
    font-size: 16px;
  }

  .mh-sidebar {
    display: none;
  }

  .mh-content {
    width: 100%;
  }

  .mh-content {
    flex-direction: column;
    gap: 8px;
  }

  .hero-greeting {
    font-size: 10vw;
    margin: 2vw 0;
  }

  .hero-motto {
    font-size: 4vw;
  }

  .snake {
    width: 100%;
  }

  .hero-actions {
    margin-top: 3vw;
  }

  .mh-site-card,
  .mh-prj-card {
    padding: 10px;
  }

  .mh-site-card {
    width: calc(50% - 18px);
    margin: 9px;
  }

  .mh-prj-card {
    height: 110px;
    margin: 8px 15px;
    width: calc(100% - 30px);
  }

  .mh-site-card__body,
  .mh-prj-card__body {
    width: 100%;
  }

  .mh-site-card__body p,
  .mh-prj-card__body p {
    font-size: 13px;
  }

  .mh-site-card__body h3,
  .mh-prj-card__body h3 {
    font-size: 18px;
  }

  .mh-site-card__icon,
  .mh-prj-card__icon {
    display: none;
  }

  .mh-site-card__icon img,
  .mh-prj-card__icon img {
    display: none;
  }

  .skill #skill-mobile {
    display: block;
  }

  .skill #skill-pc {
    display: none;
  }

  .skill img {
    width: 92%;
    max-width: 360px;
  }
}

.mh-modal {
  position: fixed;

  display: flex;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(20, 20, 20, 0.5);
  z-index: 99999;
  align-items: center;
  top: 0;
  justify-content: center;
  flex-direction: column;
}

.modal-main {
  z-index: 100000;

  width: 80%;
  max-width: 800px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 15px;

  display: flex;
  transition: transform 0.2s linear;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translateY(30%) scale(0.5);
}

.modal-img {
  width: 100%;
  height: 100%;
}

.mh-modal.active {
  visibility: visible;
}

.modal-main.active {
  transform: translateY(0) scale(1);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}