/* ==================================================
   Theme Variables & Defaults
================================================== */
:root {
  --svg-color: #ffffff;        /* svg图标颜色 */
  --main-bg-color: url(../img/background.webp);  /* 默认主背景 */
  --main-text-color: #ffffff;  /* 默认主文本颜色 */
  --gradient: linear-gradient(120deg, #bd34fe, #e0321b 30%, #41d1ff 60%); /* 标题渐变 */
  --purple-text-color: #a0a0ff; /* 默认描述紫色文本 */
  --text-bg-color: #00000040;   /* 默认文本背景 */
  --item-bg-color: #0000004d;   /* 默认卡片背景 */
  --item-hover-color: #33333366;/* 默认卡片 hover */
  --item-title-color: #ffffff;  /* 默认卡片标题 */
  --item-text-color: #cccccc;   /* 默认卡片文字 */
  --footer-text-color: #ffffff; /* 默认底部文字 */
  --left-tag-item: #0000002b;   /* 默认左侧标签 */
  --card-filter: 0px;           /* 默认卡片模糊 */
  --back-filter: 0px;           /* 默认背景模糊 */
  --back-filter-color: #00000000; /* 默认阴影遮罩 */
  --fill: #ffffff;              /* svg填充 */
}


/* clear theme */
.theme-clear {
  --name: "原图清晰";
}

/* 暗淡原图 */
.theme-dim {
  --name: "暗调原图";
  --main-text-color: #eeeeee;
  --purple-text-color: #747bff;
  --item-bg-color: #00000038;
  --item-hover-color: #33333338;
  --item-text-color: #ffffff;
  --left-tag-item: rgb(27 42 57 / 20%);
  --card-filter: 15px;
  --back-filter-color: #00000030;
}

/* fresh theme */
.theme-fresh {
  --name: "清新卡片";
  --main-text-color: #000000;
  --text-bg-color: rgb(121 163 231);
  --item-bg-color: rgba(249, 250, 251, 0.42);
  --item-hover-color: rgba(244, 245, 246, 0.8);
  --item-title-color: #000000;
  --item-text-color: #494949;
  --left-tag-item: #c7e1fa;
  --fill: #000000;
}

/* blur theme */
.theme-blur {
  --name: "背景模糊";
  --main-text-color: #eeeeee;
  --item-bg-color: #00000038;
  --item-hover-color: #33333338;
  --item-text-color: #ffffff;
  --back-filter: 19px;
  --back-filter-color: #00000030;
}

/* sky theme */
.theme-sky {
  --name: "蔚蓝天空";
  --main-bg-color: linear-gradient(50deg, #a2d1ff, #ffffff);
  --main-text-color: #000000;
  --text-bg-color: rgb(196 217 251);
  --item-bg-color: rgba(249, 250, 251, 0.5);
  --item-hover-color: rgba(244, 245, 246, 0.8);
  --item-title-color: #000000;
  --item-text-color: #494949;
  --footer-text-color: #222222;
  --left-tag-item: linear-gradient(50deg, #a2d1ff, #ffffff);
  --fill: #000000;
}

/* white theme */
.theme-white {
  --name: "纯白简约";
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
  --text-bg-color: rgb(240 243 247);
  --item-bg-color: rgb(247 247 247);
  --item-hover-color: rgba(244, 245, 246, 0.5);
  --item-title-color: #000000;
  --item-text-color: #494949;
  --footer-text-color: #222222;
  --left-tag-item: #ffffff;
  --fill: #000000;
}

/* dark theme */
.theme-dark {
  --name: "纯黑主题";
  --main-bg-color: #000000;
  --main-text-color: #ffffff;
  --purple-text-color: #a0a0ff;
  --text-bg-color: #00000040;
  --item-bg-color: #111111;
  --item-hover-color: #333333;
  --item-title-color: #ffffff;
  --item-text-color: #cccccc;
  --footer-text-color: #ffffff;
  --left-tag-item: #222222;
  --fill: #ffffff;
}

/* background filter */
.theme-white .mh-bg-filter {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background: transparent;
}

.theme-fresh .hero-motto,
.theme-blur .hero-motto {
  color: #222 !important;
}

/* mobile background */
@media (max-width: 800px) {
  html,
  .theme-clear,
  .theme-dim,
  .theme-fresh,
  .theme-blur {
    --main-bg-color: url(../img/background-wap.webp);
  }
}
